In [222]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ---------------------------------------- 0.0/235.5 kB ? eta -:--:--
   ----- ---------------------------------- 30.7/235.5 kB ? eta -:--:--
   --------------- ------------------------ 92.2/235.5 kB 1.1 MB/s eta 0:00:01
   --------------- ------------------------ 92.2/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- 235.5/235.5 kB 424.2 kB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\benjamin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [305]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import unidecode

In [418]:
df_cust = pd.read_csv('Dataset/olist_customers_dataset.csv')                        # Customers
df_geo = pd.read_csv('Dataset/olist_geolocation_dataset.csv')                       # Geolocation
df_order_items = pd.read_csv('Dataset/olist_order_items_dataset.csv')               # Order Items
df_order_payments = pd.read_csv('Dataset/olist_order_payments_dataset.csv')         # Order Payments
df_order_reviews = pd.read_csv('Dataset/olist_order_reviews_dataset.csv')           # Order Reviews
df_order = pd.read_csv('Dataset/olist_orders_dataset.csv')                          # Order
df_products = pd.read_csv('Dataset/olist_products_dataset.csv')                     # Products
df_sellers = pd.read_csv('Dataset/olist_sellers_dataset.csv')                       # Sellers
df_product_category = pd.read_csv('Dataset/product_category_name_translation.csv')  # Product Category

In [180]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [181]:
# display(df_cust.head())
# display(df_order.head())
# display(df_sellers.head())
# display(df_order_items.head())
# display(df_order_reviews.head())
# display(df_order_payments.head())
# display(df_products.head())
# display(df_geo.head())
# display(df_product_category.head())

## **1. Products Dataset Cleaning**

Tables used:
1. Products
2. Products Category

Output DataFrame Variable: `products`

In [423]:
# Null Check
print(f'Products:\n{df_products.isna().sum()}')
print(f'\nProducts Category:\n{df_product_category.isna().sum()}')

Products:
product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              1
product_length_cm             1
product_height_cm             1
product_width_cm              1
dtype: int64

Products Category:
product_category_name            0
product_category_name_english    0
dtype: int64

In [426]:
# Random Check On Products Dataset

# filtered_df = df_products[pd.isna(df_products['product_category_name'])]
filtered_df = df_products[pd.isna(df_products['product_weight_g'])]
filtered_df

# Drop Null Values
df_products.dropna(subset = ['product_category_name'], inplace = True)

# Fill Null Values with 0
df_products.fillna(0, inplace = True)

display(df_products.head())
display(df_products.info())

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

<class 'pandas.core.frame.DataFrame'>
Index: 32341 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32341 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32341 non-null  float64
 6   product_length_cm           32341 non-null  float64
 7   product_height_cm           32341 non-null  float64
 8   product_width_cm            32341 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.5+ MB

None

In [427]:
products = pd.merge(df_products, df_product_category,
                    how = 'left', on = 'product_category_name')

# Drop Product Category Name in Portuguese
products.drop(columns = 'product_category_name', inplace = True)

# Renaming Product Category Name in English
products.rename(columns = {'product_category_name_english' : 'product_cat_name'}, inplace = True)

# Reordering Columns
new_col_order = ['product_id', 'product_cat_name', 'product_name_lenght', 
                  'product_description_lenght', 'product_photos_qty', 'product_weight_g', 
                  'product_length_cm', 'product_height_cm', 'product_width_cm']

products = products[new_col_order]
products.head()

,product_id,product_cat_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [428]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32341 entries, 0 to 32340
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32341 non-null  object
 1   product_cat_name            32328 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32341 non-null  float64
 6   product_length_cm           32341 non-null  float64
 7   product_height_cm           32341 non-null  float64
 8   product_width_cm            32341 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.2+ MB

In [199]:
print(f'Product Data Length : {len(products)}')
print(f'Unique Product Id Length : {len(products.product_id.unique())}')

Product Data Length : 32951
Unique Product Id Length : 32951

## **2. Geolocation Dataset Cleaning**

Tables used:
1. Geolocation

Output DataFrame Variable : `geolocation`

In [228]:
# Normalizing Cities Name Formats
df_geo.geolocation_city = df_geo.geolocation_city.apply(lambda x: unidecode.unidecode(x))

In [229]:
df_geo_zip_codes = df_geo['geolocation_zip_code_prefix'].unique()

df_zip_code_desc = pd.DataFrame(columns = ['Zip Code', 'Min Lat', 'Max Lat', 'Lat Diff', 'Median Lat',
                                           'Min Lng', 'Max Lng', 'Lng Diff', 'Median Lng',
                                           'Count', 'State', 'City'])

geo_list = []

def compute_geo_stats(df):
    min_lat = df['geolocation_lat'].min()
    max_lat = df['geolocation_lat'].max()
    median_lat = df['geolocation_lat'].median()
    min_lng = df['geolocation_lng'].min()
    max_lng = df['geolocation_lng'].max()
    median_lng = df['geolocation_lng'].median()
    
    return min_lat, max_lat, median_lat, min_lng, max_lng, median_lng

for zip_code in df_geo_zip_codes:
    df_temp = df_geo[df_geo['geolocation_zip_code_prefix'] == zip_code]
    states = df_temp.geolocation_state.unique()
    
    for state in states:
        df_temp_states = df_temp[df_temp['geolocation_state'] == state]
        cities = df_temp_states.geolocation_city.unique()
        
        for city in cities:
            df_temp_states_city = df_temp_states[df_temp_states['geolocation_city'] == city]
            min_lat, max_lat, median_lat, min_lng, max_lng, median_lng = compute_geo_stats(df_temp_states_city)
            geo_list.append({
                'Zip Code': zip_code,
                'Min Lat': min_lat,
                'Max Lat': max_lat,
                'Lat Diff': max_lat - min_lat,
                'Median Lat': median_lat,
                'Min Lng': min_lng,
                'Max Lng': max_lng,
                'Lng Diff': max_lng - min_lng,
                'Median Lng': median_lng,
                'Count': len(df_temp_states_city),
                'State': df_temp_states_city.geolocation_state.unique()[0],
                'City': df_temp_states_city.geolocation_city.unique()[0]
            })
    
df_zip_code_desc = pd.concat([df_zip_code_desc, pd.DataFrame(geo_list)], 
                             ignore_index = True)

display(df_zip_code_desc)

,Zip Code,Min Lat,Max Lat,Lat Diff,Median Lat,Min Lng,Max Lng,Lng Diff,Median Lng,Count,State,City
0,1037,-23.546723,-23.543137,0.003586,-23.545410,-46.640336,-46.637609,0.002728,-46.638819,26,SP,sao paulo
1,1046,-23.547191,-23.545048,0.002143,-23.546081,-46.645771,-46.642719,0.003052,-46.643810,141,SP,sao paulo
2,1041,-23.544638,-23.543208,0.001431,-23.543713,-46.640906,-46.639152,0.001754,-46.640263,25,SP,sao paulo
3,1035,-23.543947,-23.540205,0.003743,-23.540984,-46.644147,-46.637397,0.006751,-46.642569,39,SP,sao paulo
4,1012,-23.549008,-23.546640,0.002369,-23.547742,-46.635361,-46.634526,0.000834,-46.634881,17,SP,sao paulo
...,...,...,...,...,...,...,...,...,...,...,...,...
19613,99955,-28.144740,-28.099471,0.045269,-28.107588,-52.147869,-52.132700,0.015168,-52.145536,12,RS,vila langaro
19614,99970,-28.348616,-28.341329,0.007287,-28.343273,-51.879243,-51.870397,0.008846,-51.873734,21,RS,ciriaco
19615,99910,-27.863500,-27.847065,0.016435,-27.861309,-52.085128,-52.028621,0.056507,-52.084405,6,RS,floriano peixoto
19616,99920,-27.860664,-27.848551,0.012113,-27.854983,-52.304946,-52.298330,0.006616,-52.300271,8,RS,erebango
19617,99952,-28.182027,-28.160371,0.021656,-28.171199,-51.936922,-51.880215,0.056706,-51.908569,2,RS,santa cecilia do sul

In [233]:
# df_zip_code_desc.City.unique()

In [231]:
print(df_zip_code_desc['Lat Diff'].min())
print(df_zip_code_desc['Lat Diff'].max())
print(df_zip_code_desc['Lng Diff'].min())
print(df_zip_code_desc['Lng Diff'].max())

0.0
77.02570802658605
0.0
72.55231470851325

In [239]:
geolocation = df_zip_code_desc[['Zip Code', 'State', 'Median Lat', 'Median Lng', 'City']]
geolocation.rename(columns = {'Median Lat' : 'Latitude',
                              'Median Lng': 'Longitude'},
                   inplace = True)
geolocation

      Zip Code State   Latitude  Longitude                  City
0         1037    SP -23.545410 -46.638819             sao paulo
1         1046    SP -23.546081 -46.643810             sao paulo
2         1041    SP -23.543713 -46.640263             sao paulo
3         1035    SP -23.540984 -46.642569             sao paulo
4         1012    SP -23.547742 -46.634881             sao paulo
...        ...   ...        ...        ...                   ...
19613    99955    RS -28.107588 -52.145536          vila langaro
19614    99970    RS -28.343273 -51.873734               ciriaco
19615    99910    RS -27.861309 -52.084405      floriano peixoto
19616    99920    RS -27.854983 -52.300271              erebango
19617    99952    RS -28.171199 -51.908569  santa cecilia do sul

[19618 rows x 5 columns]

## **3. Order Dataset Cleaning**

Tables used:
1. Products (Already Cleaned)
1. Order
2. Order Items
3. Order Payments
4. Order Reviews

Output DataFrame Variable : `order`

In [394]:
products.isna().sum()

product_id                      0
product_cat_name              623
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [314]:
display(products.head())
display(df_order.head())
display(df_order_items.head())
display(df_order_payments.head())
display(df_order_reviews.head())

,product_id,product_cat_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [429]:
# No New Rows, Clear
df_order_products = pd.merge(df_order_items, products,
                             how = 'left', on = 'product_id')

# Cleaning
df_order_products.drop(columns = ['product_id'], 
                       inplace = True)

# Reorder
new_col_order = ['product_cat_name', 'order_item_id', 'price', 'freight_value', 
                 'order_id', 'seller_id', 'shipping_limit_date'] + df_order_products.iloc[:,7:].columns.to_list()

df_order_products = df_order_products[new_col_order]

# Parse Columns to Integer
cols_to_int = df_order_products.drop(['price', 'freight_value'], 
                                     axis = 1).select_dtypes(include = float).columns

# for cols in cols_to_int:
#     df_order_products[cols] = df_order_products[cols].astype(int)

df_order_products

,product_cat_name,order_item_id,price,freight_value,order_id,seller_id,shipping_limit_date,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,cool_stuff,1,58.90,13.29,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,pet_shop,1,239.90,19.93,00018f77f2f0320c557190d7a144bdd3,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,furniture_decor,1,199.00,17.87,000229ec398224ef6ca0657da4fc703e,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,perfumery,1,12.99,12.79,00024acbcdf0a6daa1e931b038114c75,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,garden_tools,1,199.90,18.14,00042b26cf59d7ce69dfabb4e55b4fd9,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,59.0,409.0,1.0,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,housewares,1,299.99,43.41,fffc94f6ce00a00581880bf54a75a037,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0
112646,computers_accessories,1,350.00,36.53,fffcd46ef2263f404302a634eb57f7eb,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,31.0,232.0,1.0,8950.0,45.0,26.0,38.0
112647,sports_leisure,1,99.90,16.95,fffce4705a9662cd70adb13d4a31832d,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,43.0,869.0,1.0,967.0,21.0,24.0,19.0
112648,computers_accessories,1,55.99,8.72,fffe18544ffabc95dfada21779c9644f,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,56.0,1306.0,1.0,100.0,20.0,20.0,20.0
112649,bed_bath_table,1,43.00,12.79,fffe41c64501cc87c801fd61db3f6244,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [392]:
filtered_df = order[pd.isna(order['order_item_id'])]
display(filtered_df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_cat_name,order_item_id,price,freight_value,seller_id,shipping_limit_date,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,review_score,review_creation_date,review_answer_timestamp
319,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaN,NaN,2017-12-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,credit_card,5.0,84.00,1.0,2017-12-07 00:00:00,2017-12-11 10:37:57
702,c272bcd21c287498b4883c7512019702,9582c5bbecc65eb568e2c1d839b5cba1,unavailable,2018-01-31 11:31:37,2018-01-31 14:23:50,NaN,NaN,2018-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,credit_card,1.0,97.68,3.0,2018-02-18 00:00:00,2018-02-20 19:23:56
828,37553832a3a89c9b2db59701c357ca67,7607cd563696c27ede287e515812d528,unavailable,2017-08-14 17:38:02,2017-08-17 00:15:18,NaN,NaN,2017-09-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,boleto,1.0,132.46,1.0,2017-09-10 00:00:00,2017-09-12 17:00:15
887,d57e15fb07fd180f06ab3926b39edcd2,470b93b3f1cde85550fc74cd3a476c78,unavailable,2018-01-08 19:39:03,2018-01-09 07:26:08,NaN,NaN,2018-02-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,boleto,1.0,134.38,1.0,2018-02-09 00:00:00,2018-02-09 03:22:43
1362,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaN,NaN,NaN,2018-09-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,not_defined,1.0,0.00,1.0,2018-08-28 00:00:00,2018-08-28 18:25:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118914,aaab15da689073f8f9aa978a390a69d1,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,boleto,1.0,210.09,1.0,2018-02-09 00:00:00,2018-02-09 10:12:45
118946,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,voucher,1.0,63.89,5.0,2018-07-24 00:00:00,2018-07-25 16:26:05
119039,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,voucher,1.0,107.13,4.0,2018-07-31 00:00:00,2018-08-02 15:11:49
119040,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,credit_card,2.0,195.91,1.0,2017-09-20 00:00:00,2017-09-20 11:20:09
119112,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,boleto,1.0,133.97,1.0,2017-10-27 00:00:00,2017-10-28 08:20:38

In [390]:
order = pd.merge(df_order, df_order_products,
                 how = 'left', on = 'order_id')
order = pd.merge(order, df_order_payments,
                 how = 'left', on = 'order_id')
order = pd.merge(order, df_order_reviews,
                 how = 'left', on = 'order_id')

order.drop(columns = ['review_comment_title', 'review_comment_message', 'review_id'], 
           inplace = True)
order.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_cat_name,order_item_id,price,freight_value,seller_id,shipping_limit_date,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,review_score,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,housewares,1.0,29.99,8.72,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,40.0,268.0,4.0,500.0,19.0,8.0,13.0,1.0,credit_card,1.0,18.12,4.0,2017-10-11 00:00:00,2017-10-12 03:43:48
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,housewares,1.0,29.99,8.72,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,40.0,268.0,4.0,500.0,19.0,8.0,13.0,3.0,voucher,1.0,2.00,4.0,2017-10-11 00:00:00,2017-10-12 03:43:48
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,housewares,1.0,29.99,8.72,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,40.0,268.0,4.0,500.0,19.0,8.0,13.0,2.0,voucher,1.0,18.59,4.0,2017-10-11 00:00:00,2017-10-12 03:43:48
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,perfumery,1.0,118.70,22.76,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1.0,boleto,1.0,141.46,4.0,2018-08-08 00:00:00,2018-08-08 18:37:50
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,auto,1.0,159.90,19.22,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,46.0,232.0,1.0,420.0,24.0,19.0,21.0,1.0,credit_card,3.0,179.12,5.0,2018-08-18 00:00:00,2018-08-22 19:07:58

In [371]:
cols_to_int = ['order_item_id', 'payment_sequential', 'payment_installments', 'review_score']

for cols in cols_to_int:
    print(order[cols].unique(), '\n')

[ 1.  2.  3.  4.  5.  6. nan  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21.]

[ 1.  3.  2.  4.  8.  5.  7.  9.  6. 14. 17. 22. 11. 16. 13. 18. 12. 19.
 21. 20. 10. 15. 27. 25. 29. 28. 26. 23. 24. nan]

[ 1.  3.  6. 10.  4.  2.  8.  9.  7.  5. 13. 12. 15. 14. 21. 18. 24. 17.
 11. 20. 23. 16. nan 22.  0.]

[ 4.  5.  2.  1. nan  3.]

In [431]:
df_order_products[df_order_products.order_id == '9bdc4d4c71aa1de4606060929dee888c']
# df_order_products[df_order_products.order_id == '848b0561d4bc26f57b288a5004f38683']

,product_cat_name,order_item_id,price,freight_value,order_id,seller_id,shipping_limit_date,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
68185,telephony,1,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68186,telephony,2,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68187,telephony,3,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68188,telephony,4,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68189,telephony,5,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68190,telephony,6,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68191,telephony,7,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68192,telephony,8,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68193,telephony,9,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68194,telephony,10,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68195,telephony,11,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68196,telephony,12,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68197,telephony,13,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
68198,telephony,14,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0

In [430]:
# df_order_products[(df_order_products.order_item_id == 7)].sample(10)
df_order_products[(df_order_products.order_item_id > 10)].sample(10)

,product_cat_name,order_item_id,price,freight_value,order_id,seller_id,shipping_limit_date,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
11943,computers_accessories,12,100.00,10.12,1b15974a0141d54e36626dca3fdc731a,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,43.0,452.0,1.0,360.0,19.0,18.0,15.0
75116,auto,14,98.70,14.44,ab14fdcfbe524636d65ee38360e22ce8,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,39.0,1042.0,1.0,1400.0,20.0,31.0,30.0
29269,furniture_decor,13,65.49,16.22,428a2f660dc84138d969ccd69a0ab6d5,f326006815956455b2859abd58fe7e39,2017-11-30 10:30:51,59.0,1744.0,2.0,700.0,62.0,15.0,15.0
68198,telephony,14,29.99,7.78,9bdc4d4c71aa1de4606060929dee888c,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,55.0,55.0,1.0,300.0,20.0,20.0,13.0
50925,garden_tools,12,59.00,13.43,73c8ab38f07dc94389065f7eba4f297a,1f50f920176fa81dab994f9023523100,2017-12-21 02:30:41,56.0,348.0,2.0,1550.0,30.0,22.0,30.0
47632,housewares,11,26.18,22.98,6c355e2913545fa6f72c40cbca57729e,ca3bd7cd9f149df75950150d010fe4a2,2018-08-08 04:05:19,48.0,464.0,1.0,1400.0,26.0,41.0,26.0
11949,computers_accessories,18,100.00,10.12,1b15974a0141d54e36626dca3fdc731a,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,43.0,452.0,1.0,360.0,19.0,18.0,15.0
11946,computers_accessories,15,100.00,10.12,1b15974a0141d54e36626dca3fdc731a,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,43.0,452.0,1.0,360.0,19.0,18.0,15.0
75122,auto,20,98.70,14.44,ab14fdcfbe524636d65ee38360e22ce8,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,39.0,1042.0,1.0,1400.0,20.0,31.0,30.0
57313,health_beauty,17,1.20,7.89,8272b63d03f5f79c56e9e4120aec44ef,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,45.0,232.0,3.0,800.0,21.0,4.0,15.0

## Customer & Seller

In [265]:
df_cust

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [267]:
df_sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

## Merge

In [190]:
df = pd.merge(df_cust, df_order, 
              how = 'left', on = 'customer_id')
print(len(df))

# 1 Customer can > 1 Order
df = pd.merge(df, df_order_items,
              how = 'left', on = 'order_id')
print(len(df))

# Order Reviews not used Because NLP
# df = pd.merge(df, df_order_reviews,
#               how = 'left', on = 'order_id')
# print(len(df))

df = pd.merge(df, df_order_payments,
              how = 'left', on = 'order_id')
print(len(df))

df = pd.merge(df, df_sellers,
              how = 'left', on = 'seller_id')
print(len(df))

df = pd.merge(df, products,
              how = 'left', on = 'product_id')
print(len(df))

# df.to_excel('Brazilian E_Commerce.xlsx', sheet_name = 'Brazilian E-Commerce (merged)')

# df = df[df.columns.drop(df.filter(regex = '_id$').columns)]

# suffix_id = [col for col in df.columns if col.endswith('_id') and col != 'customer_id']
# cols_to_drop = ['product_category_name']
# df.drop(columns = suffix_id + cols_to_drop, inplace = True)

df.columns

99441
113425
118434
118434
118434
118434

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [191]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,credit_card,2.0,146.87,8577.0,itaquaquecetuba,SP,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1.0,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0,credit_card,8.0,335.48,88303.0,itajai,SC,utilidades_domesticas,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0,housewares
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1.0,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0,credit_card,7.0,157.73,8577.0,itaquaquecetuba,SP,moveis_escritorio,55.0,955.0,1.0,8267.0,52.0,52.0,17.0,office_furniture
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1.0,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0,credit_card,1.0,173.30,8577.0,itaquaquecetuba,SP,moveis_escritorio,48.0,1066.0,1.0,12160.0,56.0,51.0,28.0,office_furniture
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1.0,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0,credit_card,8.0,252.25,14940.0,ibitinga,SP,casa_conforto,61.0,407.0,1.0,5200.0,45.0,15.0,35.0,home_confort

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119143 entries, 0 to 119142
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    119143 non-null  object
 1   customer_unique_id             119143 non-null  object
 2   customer_zip_code_prefix       119143 non-null  int64
 3   customer_city                  119143 non-null  object
 4   customer_state                 119143 non-null  object
 5   order_id                       119143 non-null  object
 6   order_status                   119143 non-null  object
 7   order_purchase_timestamp       119143 non-null  object
 8   order_approved_at              118966 non-null  object
 9   order_delivered_carrier_date   117057 non-null  object
 10  order_delivered_customer_date  115722 non-null  object
 11  order_estimated_delivery_date  119143 non-null  object
 12  order_item_id                  118310 non-null  float64
 13  product_id                     118310 non-null  object
 14  seller_id                      118310 non-null  object
 15  shipping_limit_date            118310 non-null  object
 16  price                          118310 non-null  float64
 17  freight_value                  118310 non-null  float64
 18  review_id                      118146 non-null  object
 19  review_score                   118146 non-null  float64
 20  review_comment_title           13989 non-null   object
 21  review_comment_message         50245 non-null   object
 22  review_creation_date           118146 non-null  object
 23  review_answer_timestamp        118146 non-null  object
 24  payment_sequential             119140 non-null  float64
 25  payment_type                   119140 non-null  object
 26  payment_installments           119140 non-null  float64
 27  payment_value                  119140 non-null  float64
 28  seller_zip_code_prefix         118310 non-null  float64
 29  seller_city                    118310 non-null  object
 30  seller_state                   118310 non-null  object
 31  product_category_name          116601 non-null  object
 32  product_name_lenght            116601 non-null  float64
 33  product_description_lenght     116601 non-null  float64
 34  product_photos_qty             116601 non-null  float64
 35  product_weight_g               118290 non-null  float64
 36  product_length_cm              118290 non-null  float64
 37  product_height_cm              118290 non-null  float64
 38  product_width_cm               118290 non-null  float64
 39  product_category_name_english  116576 non-null  object
dtypes: float64(15), int64(1), object(24)
memory usage: 36.4+ MB